/* COLOR SCHEME START */
*{
  --SCARLET:#f00;
  --GREY:#666;
  --WHITE:#fff;
  --BLACK:#000;
}
/* COLOR SHEME END   */

/* BODY STYLE START */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    background-color:var(--GREY);
    color:var(--WHITE);
  }
/* BODY STYLE END   */

/* HEADER STYLE START */
  header {
    color:var(--WHITE);
    text-align: center;
    margin-top: 32px;
  }
  
  
  h1 {
    font-size: 48px;
    margin-bottom: 12px;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 60px;
  }
/* HEADER STYLE END   */

/* COLOR STRIPE START */
.black-stripe{
  height: 11px;
  background-color:var(--BLACK);
  }

  .white-stripe{
  height: 22px;
  width: 100%;
  background-color:var(--WHITE);
  }
/* COLOR STRIPE END   */

/* NAV STYLE START */
  nav {
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:var(--SCARLET);
  }
  
  nav a {
    color:var(--BLACK);
    text-decoration: none;
    padding: 13px 32px 14px 32px;
  }
  
  nav a:hover {
    color:var(--WHITE);
    background-color:var(--GREY);
  }

  nav a:active{
    background-color:var(--BLACK);
  }
  
/* NAV STYLE END   */


/* SECTION TITLE STYLE START */
  .sect-name {
    font-size: 40px;
    margin: 24px 36px;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
  }
/* SECTION TITLE STYLE END   */



/* PORTFOLIO BUTTON STYLE START */
.portfolio-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.portfolio-button {
  margin-right: 20px;
  margin-bottom: 0;
  margin-top: 40px;
  text-align: center;
  width: 350px;
  border-style: solid;
  border-width: 4px;
  box-shadow: 10px 10px 5px var(--BLACK);
  border-color:var(--SCARLET);
  background-color:var(--WHITE);
  color:var(--BLACK);
}

.portfolio-button:first-child {
  width: 800px;
}

.portfolio-button img {
  max-width: 100%;
}

.portfolio-button p {
  font-size: 18px;
}

.portfolio-button > a:hover {
  box-shadow: inset 0px 8px 8px 0px var(--BLACK), 0 15px 15px var(--BLACK);
}
/* PORTFOLIO BUTTON STYLE END   */

/* ABOUT ME/CONTACT ME STYLE START */
section#about-sect div.chapter > p, .contact-me {
  margin: 40px 0;
}  

.contact-me img {
  width: 150px;
}
/* ABOUT ME/CONTACT ME STYLE END   */

/* LARGE SCREEN STYLE START  */
  @media screen and (min-width:769px){
    
    nav a {
      margin-right: 32px;
    }

   .chapter {
      display:flex;
      align-items: flex-start;
    }

    h3#portfolio-name-small {
      display:none;
    }
  }
  /* LARGE SCREEN STYLE END   */


  /* SMALL SCREEN STYLE START */
  @media screen and (max-width: 768px) {
    .sect-name {
      display: block;
      text-align: center;
    }

    section#about-sect div.chapter > p, .contact-me, nav{
      text-align: center;
    }

    h3#portfolio-name-big {
      display:none;
    }

    .portfolio-buttons {
      flex-direction: column;
    }

    .portfolio-button {
      display: block;
      margin-bottom: 20px;
      width: 200px;
    }

    .portfolio-button:first-child {
      width: 400px;
    }

    .portfolio-button img {
      display: block;
      margin: auto;
    }

    .portfolio-button p {
      margin-top: 10px;
    }
  }
/* SMALL SCREEN STYLE END   */