/* VARIABLE CONTROL START */
*{
    --scarlet:#ff0000;
    --stripeheight:11px;
}



/* VARIABLE CONTROL END   */

/* BODY STYLE START */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    background-color:#666;
    color:#fff;
  }
/* BODY STYLE END   */

/* HEADER STYLE START */
  header {
    color:#fff;
    text-align: center;
    margin-top: 32px;
  }
  
  
  h1 {
    font-size: 48px;
    margin-bottom: 12px;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 60px;
  }
/* HEADER STYLE END   */

/* COLOR STRIPE START */
.black-stripe{
  height: var(--stripeheight);
  background-color:#000;
}

.white-stripe{
height: calc(var(--stripeheight) + var(--stripeheight));
width: 100%;
background-color:#fff;
}
/* COLOR STRIPE END   */

/* NAV STYLE START */
  nav {
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:#f00;
  }
  
  nav a {
    color:#000;
    text-decoration: none;
    padding: 13px 32px 14px 32px;
  }
  
  nav a:hover {
    color:#fff;
    background-color:#666;
  }

  nav a:active{
    background-color:#000;
  }
  
/* NAV STYLE END   */


/* SECTION TITLE STYLE START */
  .sect-name {
    font-size: 40px;
    margin: 24px 36px;
    display: inline-block;
    vertical-align: top;
  }
/* SECTION TITLE STYLE END   */



/* PORTFOLIO BUTTON STYLE START */
.portfolio-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.portfolio-button {
  margin-right: 20px;
  margin-bottom: 0;
  text-align: center;
  width: 200px;
  border-style: solid;
  border-width: 4px;
  box-shadow: 10px 10px 5px #000;
  border-color:#f00;
  background-color:#fff;
  color:#000;
}

.portfolio-button:first-child {
  width: 400px;
}

.portfolio-button:first-child::after {
  content: "\a";
  white-space: pre;
}

.portfolio-button img {
  max-width: 100%;
}

.portfolio-button p {
  font-size: 18px;
}

.portfolio-button > a:hover {
  box-shadow: inset 0px 8px 8px 0px var(--scarlet), 0 0 15px var(--scarlet);
}
/* PORTFOLIO BUTTON STYLE END   */

/* LARGE SCREEN STYLE START  */
  @media screen and (min-width:769px){
    
    nav a {
      margin-right: 32px;
    }

   .chapter {
      display:flex;
      align-items: flex-start;
    }

    h3#portfolio-name-small {
      display:none;
    }
  }
  /* LARGE SCREEN STYLE END   */


  section#about-sect div.chapter > p, .contact-me {
    margin: 40px 0;
  }  


/* SMALL SCREEN STYLE START */
  @media screen and (max-width: 768px) {
    .sect-name {
      display: block;
      text-align: center;
    }

    section#about-sect div.chapter > p, .contact-me, nav{
      text-align: center;
    }

    h3#portfolio-name-big {
      display:none;
    }

    .portfolio-buttons {
      flex-direction: column;
    }

    .portfolio-button {
      display: block;
      margin-bottom: 20px;
    }

    .portfolio-button img {
      display: block;
      margin: auto;
    }

    .portfolio-button p {
      margin-top: 10px;
    }
  }
/* SMALL SCREEN STYLE END   */